---
import { Image } from "astro:assets";

import BadgeWork from "@ui/BadgeWork.astro";
import SocialButtonLinks from "@ui/SocialButtonLinks.astro";
import ButtonLink from "@ui/ButtonLink.astro";

import MailForward from "@icons/MailForward.astro";
import FileExport from "@icons/FileExport.astro";
---

<script>
  import { copyTextToClipboard } from "../../utils/copy-text-to-clipboard.util.ts";

  document.addEventListener("DOMContentLoaded", () => {
    const button = document.querySelector(
      "#btn-copy-text"
    ) as HTMLButtonElement;

    const toast = document.getElementById("toast") as HTMLDivElement;

    button?.addEventListener("click", () => {
      button.disabled = true;

      copyTextToClipboard("gaspar.c.developer@gmail.com");
      showToast();
    });

    function showToast() {
      toast?.classList.toggle("show");

      setTimeout(() => {
        toast?.classList.toggle("show");
        button.disabled = false;
      }, 1500);
    }
  });
</script>

<section
  class="bg-secondary rounded-2xl p-8 flex flex-col sm:flex-row items-center gap-6 animate-pulse-fade-in animate-duration-500"
>
  <figure class="flex flex-shrink-0 bg-tertiary rounded-full">
    <Image
      height={140}
      width={140}
      class="size-40 object-cover translate-y-2"
      src="https://res.cloudinary.com/dzn3nempv/image/upload/v1722736430/portfolio/cciuovkhaskqxovo50z1.png"
      alt="Image of me"
    />
  </figure>

  <div class="flex flex-col gap-4">
    <header class="flex flex-wrap gap-2 sm:gap-0 items-center justify-between">
      <BadgeWork />
      <SocialButtonLinks />
    </header>

    <div class="space-y-1">
      <h1>Gaspar Castillo Catrifol</h1>
      <p>
        <strong class="text-green-200">Ingeniero de software</strong> con una profunda
        pasión por las nuevas tecnologías y la innovación. Especializado en <strong
          class="text-green-200">Backend</strong
        >, pero con la ambición de expandir mis habilidades hacia el desarrollo <strong
          class="text-green-200">Fullstack</strong
        >. Mi objetivo es crear soluciones escalables que dejen una marca
        personal duradera.
      </p>
    </div>

    <footer class="flex ml-auto gap-2">
      <button
        class="inline-flex items-center text-sm justify-center rounded-xl bg-neutral-800 p-2 text-neutral-50 opacity-80 transition-opacity duration-150 hover:opacity-100 group hover:cursor-pointer font-semibold gap-1"
        id="btn-copy-text"
      >
        <MailForward />
        Contacto
      </button>

      <ButtonLink href="gaspar_castillo_cv.pdf" role="link">
        <FileExport className="mr-1" />
        Resumen
      </ButtonLink>
    </footer>
  </div>
</section>
