---
import Star from "@icons/Star.astro";
import ArrowRight from "@icons/ArrowRight.astro";

import { mockProjects } from "@data/projects.mock";

import ButtonLink from "@ui/ButtonLink.astro";
import CardProject from "@ui/CardProject/CardProject.astro";
---

<section
  class="bg-secondary rounded-2xl p-8 flex flex-col gap-6 animate-pulse-fade-in animate-duration-500 animate-delay-300"
>
  <div class="flex gap-4 items-center">
    <Star />
    <h2>Proyectos</h2>
  </div>

  <div class="grid sm:grid-cols-2 gap-3">
    {mockProjects.map((project) => <CardProject project={project} />)}
  </div>

  <ButtonLink href="https://github.com/isakiDev?tab=repositories">
    Más proyectos
    <ArrowRight
      className="size-4 ml-0.5 opacity-70 group-hover:opacity-100 duration-200 group-hover:translate-x-[1.5px]"
    />
  </ButtonLink>
</section>
