---
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio de Gaspar Castillo - Desarrollador Web">
  <main class="max-w-[900px] mx-auto h-screen p-4">
    <About />
    <Experience />
  </main>
</Layout>
