---
import About from "@sections/About.astro";
import Education from "@sections/Education.astro";
import Experience from "@sections/Experience.astro";
import Projects from "@sections/Projects.astro";
import Footer from "@sections/Footer.astro";

import SpotifyIframeAlbum from "@ui/SpotifyIframeAlbum.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio de Gaspar Castillo - Desarrollador Web">
  <main
    class="max-w-[900px] mx-auto min-h-screen my-8 px-4 flex flex-col gap-6"
  >
    <About />
    <SpotifyIframeAlbum />

    <Experience />
    <Projects />
    <Education />
  </main>

  <Footer />
</Layout>
