---
import BadgeWork from "./ui/BadgeWork.astro";
import { mockSocials } from "../data/socials.mock";
---

<section
  class="bg-secondary rounded-xl mt-4 p-8 flex flex-col sm:flex-row items-center gap-6 animate-pulse-fade-in animate-duration-500"
>
  <figure class="flex flex-shrink-0 bg-tertiary rounded-xl">
    <img
      class="size-56 object-cover"
      src=" face_memoji.png"
      alt="Image of me"
    />
  </figure>

  <div class="flex flex-col gap-4">
    <header class="flex items-center justify-between">
      <BadgeWork />

      <!-- socials link -->
      <div class="flex items-center gap-2">
        {
          mockSocials?.map(({ href, icon: Icon }) => (
            <a
              href={href}
              target="_blank"
              class="bg-tertiary hover:bg-white/10 p-2 rounded-xl text-white/80 hover:cursor-pointer hover:text-white transition-all duration-300"
            >
              <Icon />
            </a>
          ))
        }
      </div>
    </header>

    <div class="space-y-1">
      <h1>Gaspar Castillo Catrifol</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum itaque
        ex laboriosam voluptates odio veniam dolorum consequatur hic fugiat ut
        atque, labore nihil aut sapiente quaerat iusto quos expedita placeat!
      </p>
    </div>

    <footer class="flex">
      <a
        class="ml-auto py-1 px-2 bg-tertiary hover:bg-white/10 p-2 rounded-xl text-white/80 hover:cursor-pointer hover:text-white transition-all duration-300"
        >Contacto</a
      >
    </footer>
  </div>
</section>
