---
import type { TimeLineData } from "./time-line.interface";

interface Props {
  subTitle?: TimeLineData["subTitle"];
  date?: TimeLineData["date"];
  title?: TimeLineData["title"];
}

const { subTitle, date, title } = Astro.props;
---

<header class="flex flex-col">
  {title && <h3>{title}</h3>}

  {
    subTitle && (
      <a
        href={subTitle.url}
        target="_blank"
        class="text-neutral-400 font-bold text-base sm:text-sm  transition-colors hover:text-amber-400 w-fit duration-300"
      >
        {subTitle.title}
      </a>
    )
  }

  {
    date && (
      <time class="text-base sm:text-sm font-normal leading-none text-neutral-500">
        {date}
      </time>
    )
  }
</header>
