<a
  href="https://www.linkedin.com/in/isakidev"
  class="flex items-center text-xs gap-1.5 font-medium py-1.5 px-3 rounded-xl bg-green-800/40 text-green-200 opacity-80 transition-opacity duration-150 hover:opacity-100"
  target="_blank"
>
  <span class="flex size-2 items-center">
    <span
      class="absolute inline-flex size-1.5 animate-ping rounded-full opacity-75 bg-green-300"
    ></span>
    <span class="relative inline-flex size-1.5 rounded-full bg-green-400"
    ></span>
  </span>
  Disponible para trabajar
</a>
