<div
  id="toast"
  class="toast bg-neutral-900 border-neutral-800 border px-4 py-2 rounded-xl ml-auto flex justify-center items-center top-5 right-5 select-none fixed font-semibold text-slate-200"
>
  ✉ Email copiado!
</div>
